@{
	ViewData["Title"] = "Бездель Михаил";
}

<header class="header">
	<div class="container">
		<div class="navi">
			<div class="wrapper__relative">
				<div class="container">
					<div class="logo">
						<img src="~/img/logo.png" alt="Михаил Бездель. Программист">
					</div>
					<div class="menu">
						<ul>
							<li><a href="#" class="main__menu menu__item active">Главная</a></li>
							<li><a href="" class="aboutMe__menu menu__item">Обо мне</a></li>
							<li><a href="" class="service__menu menu__item">Услуги</a></li>
							<li><a href="" class="portfolio__menu menu__item">Портфолио</a></li>
							<li><a href="" class="reviews__menu menu__item">Отзывы</a></li>
							<li><a href="" class="contacts__menu menu__item">Контакты</a></li>
						</ul>
					</div>
					<div class="burger">
						<div class="line"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="offer">
			<div class="offer__left">
				<h1>Разработка сайтов “под ключ”</h1>
				<p class="p20">Full-stack разработка сайтов с нуля, веб-дизайн, desktop-приложения </p>
				<a href="#" class="btn btn__request">Оставить заявку</a>
				<div class="social__link">
					<a href="https://t.me/BezdelMA" target="_blank"><img src="~/img/socialLink/telegram.svg" alt="telegram"></a>
					<a href="https://wa.me/79099619608?text=" target="_blank"><img src="~/img/socialLink/whatsApp.svg" alt="WhatsApp"></a>
					<a href="https://vk.com/bezmih" target="_blank"><img src="~/img/socialLink/vk.svg" alt="vk"></a>
					<a href="https://www.instagram.com/bezdelma" target="_blank"><img src="~/img/socialLink/instagram.svg" alt="instagram"></a>
				</div>
			</div>
			<div class="offer__right">
				<img src="~/img/offer.jpeg" alt="offer image">
			</div>
		</div>
	</div>
</header>
<section class="aboutMe">
	<div class="container">
		<div class="aboutMe__content">
			<div class="aboutMe__content__wrapper">
				<div class="elipse"></div>
				<div class="square"></div>
				<div class="aboutMe__content__left">
					<img src="~/img/Me.jpeg" alt="About Me">
				</div>
				<div class="aboutMe__content__right">
					<h3>Обо мне</h3>
					<h2>Привет, я Михаил</h2>
					<p>С 2018 года занимаюсь разработкой desktop-приложений на языке программирования C#, с 2020 года успешно развиваюсь в направлении full-stack разработки веб-сайтов и веб-приложений от создания прототипа и полноценного дизайна макета, до написания front-end и back-end в короткие сроки.</p>
					<p><br></p>
					<p class="mobile__hidden">Стек используемых мною технологий: figma, photoshop, HTML5, CSS3, JavaScript, C#, создание, подключение и работа с БД (SQL). Все это позволяет добиваться максимального результата с минимальными затратами на команду разработчиков.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="service">
	<div class="container">
		<div class="service__content text__center content">
			<h2>Услуги</h2>
			<p class="p20">Разделение на отдельные услуги условное, каждая задача индивидуальна и может включать в себя сразу несколько обозначенных ниже возможных решений</p>
			<div class="slider">
				<div class="slider__list">
					<div class="cards">
						<div class="card service__card mb50" data-id="0">
							<div class="service__card__content">
								<img src="~/img/Services/web-design.svg" alt="Web-design">
								<h4>Web-design</h4>
								<p>Полный цикл разработки прототипа твоего сайта, цветового решения и макета</p>
							</div>
						</div>
						<div class="card service__card mb50" data-id="1">
							<div class="service__card__content">
								<img src="~/img/Services/web-developer.svg" alt="Web-developer">
								<h4>Web-develop</h4>
								<p>Верстка страниц сайта с использованием HTML5, CSS3, JavaScript</p>
							</div>
						</div>
						<div class="card service__card mb50" data-id="2">
							<div class="service__card__content">
								<img src="~/img/Services/backend.svg" alt="Backend-developer">
								<h4>Backend-develop</h4>
								<p>Написание логики твоего сайта на языках программирования C# и SQL</p>
							</div>
						</div>
						<div class="card service__card" data-id="3">
							<div class="service__card__content">
								<img src="~/img/Services/desktop.svg" alt="Desktop-developer">
								<h4>Desktop-develop</h4>
								<p>Разработка настольных приложений для решения задач твоего бизнеса</p>
							</div>
						</div>
						<div class="card service__card" data-id="4">
							<div class="service__card__content">
								<img src="~/img/Services/graphic-design.svg" alt="Graphic-design">
								<h4>Graphic-design</h4>
								<p>Создание гармоничной и эффективной визуальной среды твоего бренда</p>
							</div>
						</div>
						<div class="card service__card" data-id="5">
							<div class="service__card__content">
								<img src="~/img/Services/copyright.svg" alt="Copyreght">
								<h4>Copyreght</h4>
								<p>Создание авторских текстов на твой интернет-ресурс, наполнение сайтов и магазинов</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="paggination paggination__service">
				<div class="pagination__active"></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
</section>
<section class="portfolio">
	<div class="container">
		<div class="portfolio__content text__center content">
			<h2>Портфолио</h2>
			<p>Индивидуальный подход к каждой работе гарантирует создание для тебя оригинального продукта, отличимого от конкурентов, и продвигает Вас на новый уровень взаимодействия с клиентами</p>
			<div class="portfolio__filter">
				<a href="#" class="active">Все работы</a>
				<a href="#">Прототипы</a>
				<a href="#">Макеты</a>
				<a href="#">Сайты</a>
				<a href="#">Desktop</a>
				<a href="#">Графический дизайн</a>
			</div>
			<div class="modal__wind">
				<div class="modal_area"></div>
				<div class="modal container">
					<div class="modal_context">
						<div class="close_pointer"></div>
						<div class="modal__container">
							@*<div class="modal__context">
							<iframe style="border: 1px solid rgba(0, 0, 0, 0.1); margin: auto" width="95%" height="95%" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F399Wd4o17vDRQdG8ghGarw%2F%25D0%2592%25D0%2598%25D0%2597%25D0%2590%25D0%2596%3Fnode-id%3D152%253A2%26scaling%3Dscale-down-width%26page-id%3D0%253A1" allowfullscreen></iframe>
							</div>
							<div class="modal__context">
							<iframe style="border: 1px solid rgba(0, 0, 0, 0.1); margin: auto" width="95%" height="95%" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F569BXtavwMmepcf9I9OJIw%2Fwayup.in__BezdelMA%3Fnode-id%3D306%253A170%26scaling%3Dscale-down-width%26page-id%3D88%253A139" allowfullscreen></iframe>
							</div>
							<div class="modal__context">
							<iframe style="border: 1px solid rgba(0, 0, 0, 0.1); margin: auto" width="95%" height="95%" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F569BXtavwMmepcf9I9OJIw%2Fwayup.in__BezdelMA%3Ftype%3Ddesign%26node-id%3D227-251%26scaling%3Dscale-down-width%26page-id%3D227%253A250" allowfullscreen></iframe>
							</div>
							<div class="modal__context">
							<iframe style="border: 1px solid rgba(0, 0, 0, 0.1); margin: auto" width="95%" height="95%" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F569BXtavwMmepcf9I9OJIw%2Fwayup.in__BezdelMA%3Ftype%3Ddesign%26node-id%3D407-934%26scaling%3Dscale-down-width%26page-id%3D227%253A250" allowfullscreen></iframe>
							</div>
							<div class="modal__context">
							<iframe style="border: 1px solid rgba(0, 0, 0, 0.1); margin: auto" width="95%" height="95%" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F569BXtavwMmepcf9I9OJIw%2Fwayup.in__BezdelMA%3Ftype%3Ddesign%26node-id%3D88-150%26scaling%3Dscale-down-width%26page-id%3D88%253A138" allowfullscreen></iframe>
							</div>
							<div class="modal__context">
							<iframe style="border: 1px solid rgba(0, 0, 0, 0.1); margin: auto" width="95%" height="95%" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F569BXtavwMmepcf9I9OJIw%2Fwayup.in__BezdelMA%3Ftype%3Ddesign%26node-id%3D88-175%26scaling%3Dscale-down-width%26page-id%3D88%253A138" allowfullscreen></iframe>
							</div>*@
						</div>
					</div>
				</div>
			</div>
			<div class="example__content">
				<div class="example__content__wrapper">
					<a href="#" class="arrow__left"><img src="~/img/arrow-left.svg" alt="Влево"></a>
					<div class="example__cards">
						<div class="card example__card mb50" id="0">
							<img src="~/img/Example/Frame%2025.png" alt="">
						</div>
						<div class="card example__card mb50" id="1">
							<img src="~/img/Example/Frame%2072.png" alt="">
						</div>
						<div class="card example__card mb50" id="2">
							<img src="~/img/Example/Frame%2074.png" alt="">
						</div>
						<div class="card example__card" id="3">
							<img src="~/img/Example/Frame%2077.png" alt="">
						</div>
						<div class="card example__card" id="4">
							<img src="~/img/Example/Logo.png" alt="">
						</div>
						<div class="card example__card" id="5">
							<img src="~/img/Example/Product%20Card.png" alt="">
						</div>
					</div>
					<a href="#" class="arrow__right"><img src="~/img/arrow-right.svg" alt="Вправо"></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="reviews">
	<div class="container">
		<div class="reviews__content text__center content">
			<h2>Отзывы</h2>
			<p class="description">Всегда приятно получать объективную оценку своей работы. Отзывы на моем сайте публикуются без модерации. Орфография и пунктуация сохранены.</p>

			<div class="slider__reviews">
				<div class="slider__list__reviews">
					<div class="feedbacks">

						@{
							if (ViewBag.FeedBacks != null && ViewBag.FeedBacks.Count > 0)
							{
								foreach (FeedbackModel item in ViewBag.Feedbacks)
								{
									await Html.RenderPartialAsync("Feedback", item);
								}
							}

							else
							{
								<h3 style="margin: 70px auto">Отзывов пока нет. Будь первым!</h3>
							}
						}

					</div>
				</div>
			</div>

			@{
				if (ViewBag.FeedBacks != null && ViewBag.FeedBacks.Count > 0)
				{
					<div class="paggination paggination__reviews">
						<div class="pagination__active__reviews"></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				}
			}


			<a href="newreviews" class="new__reviews btn">Добавить отзыв</a>
		</div>
	</div>
</section>
<section class="contacts">
	<div class="container">
		<div class="contacts__content text__center content">
			<h2>Контакты</h2>
			<p class="contacts__description">Свяжись со мной любым удобным для тебя способом. Для обсуждения деталей заказа возможна онлайн или личная встреча в Москве и Московской области</p>
			<div class="coordinations">
				<div class="card__contacts">
					<div class="card__contacts__wrapper">
						<img src="~/img/phone.svg" alt="">
						<h4>Звони мне</h4>
						<a href="tel:89099619608">
							<p>+7 (909) 961 96 08</p>
						</a>
					</div>
				</div>
				<div class="card__contacts">
					<div class="card__contacts__wrapper">
						<img src="~/img/location.svg" alt="">
						<h4>Мой адрес</h4>
						<a href="#">
							<p>г. Москва, ул. Сайкина (м. Автозаводская, Технопарк, Кожуховская)</p>
						</a>
					</div>
				</div>
				<div class="card__contacts">
					<div class="card__contacts__wrapper">
						<img src="~/img/mail.svg" alt="">
						<h4>Пиши мне</h4>
						<a href="mailto:BezdelMA@mail.ru">
							<p>BezdelMA@mail.ru</p>
						</a>
					</div>
				</div>
			</div>
			<form class="request" enctype="multipart/form-data">
				<div class="validation" asp-validation-summary="ModelOnly"></div>
				<div class="form__group">
					<input type="text" class="form__name" placeholder="Имя*" name="Name" required>
					<span class="text-danger" id="form__name__error"></span>
				</div>
				<div class="form__group">
					<input type="number" class="form__phone" placeholder="Телефон" name="Phone">
					<span class="text-danger" id="form__phone__error"></span>
				</div>
				<div class="form__group">
					<input type="text" class="form__mail" placeholder="Email" name="Email">
					<span class="text-danger" id="form__mail__error"></span>
				</div>
				<div class="form__group form__group__textarea">
					<textarea class="form__request" id="" placeholder="Напиши свой вопрос..." name="RequestText"></textarea>
					<span class="text-danger" id="form__request__error"></span>
				</div>
				<button value="Отправить" class="btn" id="btnMailSend">Отправить</button>
			</form>
		</div>
	</div>
</section>

@await Html.PartialAsync("MailSend")
@await Html.PartialAsync("NewFeedback")

