<div class="mailSendModal">
	<div class="mailSendModalWind">
		<div class="close_pointer"></div>
		<div class="mailSendModalWindText">
			<p class="respons__text">Ваша заявка принята в работу</p>
		</div>
	</div>
</div>