@model Portfolio.Data.Models.FeedbackModel

<div class="area__feedback">
	<div class="area__close"></div>
	<div class="content__wind">
		<form class="form__feedback">
			<div class="full-stars">
				<div class="rating-group">
					<!-- по умолчанию 0 -->
					<input name="fst" value="0" type="radio" disabled checked />

					<!-- рейтинг 1 -->
					<label for="fst-1">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
							<path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
						</svg>
					</label>
					<input name="fst" id="fst-1" value="1" type="radio" />

					<!-- рейтинг 2 -->
					<label for="fst-2">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
							<path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
						</svg>
					</label>
					<input name="fst" id="fst-2" value="2" type="radio" />

					<!-- рейтинг 3 -->
					<label for="fst-3">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
							<path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
						</svg>
					</label>
					<input name="fst" id="fst-3" value="3" type="radio" />

					<!-- рейтинг 4 -->
					<label for="fst-4">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
							<path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
						</svg>
					</label>
					<input name="fst" id="fst-4" value="4" type="radio" />

					<!-- рейтинг 5 -->
					<label for="fst-5">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
							<path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
						</svg>
					</label>
					<input name="fst" id="fst-5" value="5" type="radio" />
				</div>
			</div>
			<div class="feedback__flex__column">
				<div class="feedback__flex__row">
					<div class="form__group">
						<input type="text" id="feedback__name" name="feedback__name" placeholder="Имя">
						<span class="text-danger" id="feedback__name__error"></span>
					</div>
					<select name="order__type" id="order__type">
						<option value="maket">Макет сайта</option>
						<option value="frontend">Верстка страниц</option>
						<option value="backend">Написание логики приложения</option>
						<option value="desktop">Разработка настольного приложение</option>
						<option value="graphics">Графический дизайн</option>
						<option value="copyright">Копирайтинг</option>
					</select>
					<div class="upload__file">
						<label for="upload__file"><p>Загрузите свое фото</p><div class="button__upload__file"><p>Обзор</p></div></label>
						<input type="file" id="upload__file" class="input__file__feedback">
					</div>
				</div>
				<div class="form__group">
					<textarea class="textarea__feedback" name="feedback__text" id="feedback__text" rows="10" placeholder="Ваше впечатление от работы и взаимодействия"></textarea>
					<span class="text-danger" id="feedback__text__error"></span>
				</div>
				<button value="Отправить" class="btn btn__center btn__feedback" id="btnReviewsSend">Отправить</button>
			</div>
		</form>
	</div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
